{% extends 'base.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-1">
					<h1 class="display-6">Alert et évenements
					</h1>
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						<strong>Autonome à  :
						</strong>

						{{ users_stats.niveau }}%
						<strong>
							<a href="{{ path('home_statistique_edit', {id:users_stats.id}) }}">
								Modifier
							</a>
						</strong>
						<button aria-label="Close" class="close" data-dismiss="alert" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<br>
					<span>
						Nom :
						{{ users_stats.nom}}
					</span><br>
					<span>
						Prenom:
						{{ users_stats.prenom}}
					</span><br>
					<span>
						Pathologie:
						{{ users_stats.pathologie}}</span><br>
					<span>
						Age maladie :
						{{ users_stats.agemaladie}}</span><br>
					<span>
						Age :
						{{ users_stats.quelage}}</span><br>
					<hr>
				</div>
			</div>
			<div class="col-xs-1 form-group">
				<h1>degré d'autonomie</h1><br>
				{% if users_stats.niveau <= 20 %}
					<span>Niveau 1 : la personne ne respecte pas les consignes, elle commence plusieurs choses , les laisse en plan , ne clôture pas.</span>
				{% elseif users_stats.niveau < 41 %}
					<span>Niveau 2 : La personne s'arrête de travailler , quand il lui manque quelques chose , et attend qu'on lui fournisse, a besoin de consignes extrênement précises, et il faut le contrôler pour vérifier la conformité de ses actions.</span>
				{% elseif users_stats.niveau < 61 %}
					<span>Niveau 3 : La personne prend l'initiave de soliciter de l'aide en cas de besoin. Résout seul les difficultés ou les anomalies déjà rencontrées, traite intégralement sans aide les situations ordinaire et en assume les variations.</span>
				{% elseif users_stats.niveau < 81 %}
					<span>Niveau 4 : La personne génère les ressources dont elle a besoin. Elle construit des solutions, trouve les moyens nécessaires à la résolution de problèmes exceptionnels, elle assure simultanément la conduite et la conclusion de plusieurs opérations.
					</span>
				{% endif %}<br>
				<span><br/><strong>
						Lieu de résidence préferable
					</strong>
					:
					{{ users_stats.vivrequatidien }}
				</span><br><hr>
				{# <a class="btn btn-warning btn-lg" href="{{ path('questions_reponses') }}" role="button">Test en ligne</a>
																																																																																																	        <a class="btn btn-info btn-lg" href="http://chatvocasant/">Assistance en ligne
																																																																																																	        </a><br><hr>
																																																																																																	        <a class="btn btn-info btn-lg" onclick="alert('En construction\n');">A propos</a> #}
			</div>
		</div>
	</div>
{% endblock %}
