{% extends 'base.html.twig' %}

{% block title %}Vocasant - Accueil
{% endblock %}


{% block content %}
	<div class="index d-flex align-items-center justify-content-center vh-100">
		<div class="text-center p-3">
			<div class="mb-5 pb-5">
				<a href="{{ url('home_index') }}" class="gap-2 text-white text-center">
					<div class="rounded-pill bg-white p-3 d-inline-block mb-4">
						<img src="img/logo.png" alt="" class="img-fluid logo">
					</div>
					<h1 class="mb-0 text-black">VocaSant</h1>
					{% if not app.user %}
						<p class="lead text-black">
							VocaSant marque une étape importante dans le domaine de la santé, en offrant une approche novatrice pour évaluer les capacités individuelles et permettre aux utilisateurs de mieux comprendre leur niveau d'autonomie et d'ouvrir un ticket pour bénéficier des services de création de demande en ligne.
						</p>
						<a href="#introduction" class="btn btn-warning">
							<small>Ouvrir un ticket</small>
						</a>
					{% else %}
						<a href="{{ path('home_exercices', {'id': app.user.id })}}" class="btn btn-info">
							<small>Compléter mon dossier</small>
						</a>
					{% endif %}
					<p></p>
				</a>
			</div>
		</div>
	</div>

	<main class="px-5" id="introduction">
		<h1 class="text-body-emphasis">Démarrer avec Vocasant</h1>
		<p class="fs-5 col-md-8">VocaSant utilise des études médicales pour évaluer et suivre l'autonomie des individus, offrant ainsi des informations précieuses pour le suivi médical et l'amélioration de la qualité de vie.</p>

		<div class="mb-5">
			{% if not app.user %}
				<a href="{{ path('app_register')}}" class="btn btn-primary btn-lg px-4 gap-3">Inscription</a>
				<a href="{{ path('app_login')}}" class="btn btn-secondary btn-lg px-4 gap-3">Connexion</a>
			{% else %}
				<p>vous êtes bien connecté sous
					{{ app.user.email }}</p>
			{% endif %}
		</div>

		<hr class="col-3 col-md-2 mb-5">

		<div class="row g-5">
			<div class="col-md-6">
				<h2 class="text-body-emphasis">Projets de démarrage</h2>
				<p>Mon objectif est de fournir aux individus un moyen fiable et facile de mesurer leurs taux d'invalités en ligne, tout en offrant aux professionnels de la santé des outils efficaces pour évaluer la demande de leurs patients..</p>
			</div>
		</div>
	</main>
{% endblock %}
